.projects-filter-and-list {
	height: calc(100vh - 148px - 0.5rem);
}
.select2-like-placeholder::placeholder {
	color: #999 !important;
  font-weight: 500;
}
.pagination-sticky-bottom {
	position: sticky;
	bottom: 0;
	z-index: 1;
	background-color: #ffffff;
}
.pagination-sticky-bottom > div {
	background-color: #edeef3;
	border-radius: 6px;
}
.pagination-page-size {
	width: 100px;
}

@media only screen and (max-width: 991.98px) {
	.projects-filter-and-list {
		height: auto;
	}
}
